.mapNav {
  color: #f9d6ff !important;
}

.groupNav {
  color: #dddaff !important;
}

.agendaNav {
  color: #ddffd6 !important;
}

.schedNav {
  color: #fffecc !important;
}

.chatNav {
  color: #ffd5d5 !important;
}